.Dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 1em;
  }

  & .row {
    display: flex;
    flex-direction: row;

    & .box {
      flex-grow: 1;
      flex-basis: 50%;

      text-align: center;

      &:not(:last-child) {
        margin-right: 1em;
      }

      & h2 {
        margin: 0 0 1em 0;
        font-size: 1.2em;
        font-weight: 400;
      }

      & .value {
        font-size: 2em;
        font-weight: 600;
      }
    }
  }

  & .pools {
    & > *:not(:last-child) {
      margin-bottom: 1em;
    }

    & .poolHeader {
      padding-left: 1em;
      padding-right: 1em;
    }

    & .poolRow,
    & .poolHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & .logo {
        flex-basis: 50px;
        flex-grow: 0;
      }

      & :not(.logo) {
        flex-grow: 1;
      }
    }
  }
}
